<nav class="flex justify-between mt-10 mx-10">
  <div *ngIf="isAdmin" (click)="this.open = !this.open">
    <mat-icon (click)="getUser()" *ngIf="!open">menu</mat-icon>
  </div>
  <div *ngIf="!isAdmin"></div>
  <img src="assets/logo.png" alt="logo" class="h-20" />
</nav>
<section class="bg-primary h-screen w-[25%] absolute z-40 top-0" *ngIf="open">
  <div class="w-full text-end pr-8 mt-8">
    <mat-icon (click)="open = !open" *ngIf="open">close</mat-icon>
  </div>
  <div
    class="flex flex-col justify-center items-center mb-8"
    style="height: calc(100% - 10rem)"
  >
    <div *ngIf="!imageUrl" class="flex justify-center items-center h-40">
      <mat-icon class="text-8xl text-secondary"> account_circle</mat-icon>
    </div>
    <div *ngIf="imageUrl">
      <img
        [src]="imageUrl"
        alt="Uploaded Image"
        class="rounded-full w-32 h-32 mb-4"
      />
    </div>
    <div class="flex gap-2">
      <span>{{ user?.name }}</span>
      <span>{{ user?.lastName }}</span>
    </div>

    <button
      matRipple
      class="custom-button mt-auto"
      type="button"
      (click)="onExit()"
    >
      Sair
    </button>
  </div>
</section>
<section
  class="bg-black/40 h-screen w-[100%] absolute z-20 top-0"
  *ngIf="open"
></section>
