<div
  class="bg-primary border-secondary border-2 rounded-lg xl:w-[60em] xl:h-[40em]"
>
  <form
    class="p-8 flex flex-col text-center justify-center"
    style="height: -webkit-fill-available"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div class="mb-3">
      <h2 class="text-xl">Editar evento</h2>
      <p class="text-sm mt-1">
        Crie e compatilhe <span class="underline">Join My PT</span>
      </p>
    </div>
    <div class="lg:m-auto flex flex-col">
      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            placeholder="Inicio"
            formControlName="startDate"
          />
          <input matEndDate placeholder="Fim" formControlName="endDate" />
          <mat-error
            *ngIf="form.get('start')?.invalid || form.get('end')?.invalid"
            ><small>{{ formUtils.getErrorMessage(form, "end") }}</small>
            <br />
          </mat-error>
        </mat-date-range-input>
        <mat-hint><small>DD/MM/AAAA – DD/MM/AAAA</small></mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field class="mt-8">
        <mat-label>Descrição</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="form.get('description')?.invalid"
          ><small>{{ formUtils.getErrorMessage(form, "description") }}</small>
          <br />
        </mat-error>
      </mat-form-field>
      <div class="flex flex-col gap-4">
        <div class="flex justify-center flex-wrap items-center gap-4">
          <button
            matRipple
            class="custom-button text-center"
            type="button"
            (click)="closeDialog()"
          >
            Cancelar
          </button>
          <div class="flex justify-center items-center">
            <button matRipple class="custom-button text-center" type="submit">
              Confirmar
            </button>
          </div>
        </div>
        <button
          matRipple
          class="delete-button whitespace-nowrap text-center"
          type="button"
          (click)="onDelete()"
        >
          Excluir evento
        </button>
      </div>
    </div>
  </form>
</div>
