<section>
  <div class="bg-primary border-secondary border-2 rounded-lg">
    <form class="p-8 flex flex-col text-center">
      <h2 class="text-xl">Meus eventos</h2>
      <p class="text-sm">
        divirta-se e <span class="underline">Join My PT</span>
      </p>
      <p class="text-base mt-8">Por favor, complete o seu registro</p>
      <div></div>
      <div class="flex flex-col justify-center items-center mb-8"></div>
      <button matRipple class="custom-button" type="submit">Continuar</button>
    </form>
  </div>
</section>
