<div class="bg-primary border-secondary border-2 rounded-lg w-[60em] h-[40em]">
  <section
    class="p-8 flex flex-col text-center justify-center"
    style="height: -webkit-fill-available"
  >
    <div>
      <h2 class="text-xl">Meus eventos</h2>
      <p class="text-sm mt-1">
        divirta-se e <span class="underline">Join My PT</span>
      </p>
    </div>
    <div class="m-auto" *ngIf="events.length === 0">
      <p class="text-base mb-8">Você ainda não possui nenhum evento</p>

      <div class="flex justify-center items-center">
        <button
          matRipple
          class="custom-button whitespace-nowrap text-center"
          type="button"
          (click)="openDialog()"
        >
          Novo evento
        </button>
      </div>
    </div>
    <div
      *ngIf="events.length > 0"
      class="m-auto flex flex-row gap-4 flex-wrap justify-center overflow-auto my-10"
    >
      <div *ngFor="let event of events">
        <app-cards [data]="event"></app-cards>
      </div>
    </div>
  </section>
</div>
